.layout 
	overflow hidden

.container
	max-width 1150px
	margin 0 auto
	padding 0 20px

h1 
	font-family CircularStdBold
	font-size 58px
	margin 0 0 20px 0
	color alt-color
	letter-spacing: -1px;
h2
	font-family CircularStdBold
	font-size 48px
	margin 0 0 20px 0
	color alt-color
	letter-spacing: -1px;

.btn
	display inline-block
	background #0f53fa
	color #fff
	font-size 16px
	font-family CircularStdMedium
	padding 18px 25px
	text-decoration none
	border-radius 5px

.btn-alt
	display inline-block
	background #fff
	border 2px solid #e2e4e8
	color alt-color
	font-size 16px
	font-family CircularStdMedium
	padding 16px 24px
	text-decoration none
	border-radius 5px

.btn__icon
	display inline-block
	vertical-align middle
	margin-right 15px

.page-pre
	max-width 510px 
	margin-left auto
	margin-right auto
	text-align center

