.page-header 
    display flex
    justify-content space-between
    align-items center
    padding 13px 20px
    background #f7f8fa
    position sticky
    top 0
    left 0
    z-index 4
    box-shadow rgba(0, 0, 0, 0.05) 0px 2px 8px -1px, rgba(0, 0, 0, 0.04) 0px 1px 10px -1px
    &__nav
        display flex
        align-items center
.logo
    display inline-block
    width 60px
    height 60px
    background url(../img/svg/f-logo.svg) center/cover no-repeat

.top-btn
    display inline-block
    text-decoration none
    color #e9f7fe
    padding 15px 17px
    border-radius 5px
    background #0f53fa
    font-size 13px
    font-family CircularStdMedium,serif
    margin-left 40px
    transition: background .25s ease
		
.top-btn:hover
    background #0a39b1

.top-nav
    display flex
    &__link
        color alt-color
        font-size 16px
        text-decoration none
        margin-right 40px
        transition color .25s ease
        &:hover
            color: #0f53fa;
        &:last-child
            margin-right 0
    